/***********************************
************************************
 Global elements
************************************
***********************************/

/*========Fonts=========*/

/*------inter-300 - latin-------*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/inter-v2-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v2-latin-300.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-300.woff") format("woff"),
    url("../fonts/inter-v2-latin-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v2-latin-300.ttf") format("truetype"),
    url("../fonts/inter-v2-latin-300.svg#Inter") format("svg");
}

/*------inter-400 - latin-------*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v2-latin-regular.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-regular.woff") format("woff"),
    url("../fonts/inter-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/inter-v2-latin-regular.ttf") format("truetype"),
    url("../fonts/inter-v2-latin-regular.svg#Inter") format("svg");
}

/*------inter-500 - latin-------*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-v2-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v2-latin-500.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-500.woff") format("woff"),
    url("../fonts/inter-v2-latin-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v2-latin-500.ttf") format("truetype"),
    url("../fonts/inter-v2-latin-500.svg#Inter") format("svg");
}

/*------inter-600 - latin-------*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-v2-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v2-latin-600.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-600.woff") format("woff"),
    url("../fonts/inter-v2-latin-600.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v2-latin-600.ttf") format("truetype"),
    url("../fonts/inter-v2-latin-600.svg#Inter") format("svg");
}

/*------inter-700 - latin-------*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-v2-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v2-latin-700.woff2") format("woff2"),
    url("../fonts/inter-v2-latin-700.woff") format("woff"),
    url("../fonts/inter-v2-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/inter-v2-latin-700.ttf") format("truetype"),
    url("../fonts/inter-v2-latin-700.svg#Inter") format("svg");
}

/**
  * When JS is enabled the "js" class is appended to the root element.
  * To style a class only if JS is enabled, use the descendent selector.
  * @example .js .your-element

  * When dark mode is enabled the "darkmode" class is appended to the
  * root element. To style a class in dark mode, just use the descendent
  * selector.
  * @example .darkmode .your-element
  */

:root {
  --content-width: 715px;
  --content-padding: 15px;
  --primary: #0039a6;
  --secondary: #4e6172;
  --link: #20399f;
  --text: #0a0a0a;
  --textInverse: #f5f5f5;
  --text1: #171717;
  --text2: #39393a;
  --text3: #5a5a5c;
  --text4: #9ea0a2;
  --surface: #ebebeb;
  --surface1: #f0f0f0;
  --surface2: #f5f5f5;
  --surface3: #fafafa;
  --surface4: #fff;
}

.darkmode {
  --primary: #6cb4ee;
  --secondary: #83929f;
  --tertiary: #d57500;
  --link: #6cb4ee;
  --text: #f5f5f5;
  --textInverse: #0a0a0a;
  --text1: #e8e9e9;
  --text2: #c6c6c7;
  --text3: #a5a5a7;
  --text4: #616365;
  --surface: #181818;
  --surface1: #202021;
  --surface2: #282828;
  --surface3: #303030;
  --surface4: #383838;
}

html {
  height: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*========Common HTML elements and global layout=========*/

body {
  font-family: "Inter", sans-serif;
  background: var(--surface1);
  color: var(--text);
  position: relative;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

main {
  position: relative;
  width: 100%;
}

section {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

footer {
  margin: 50px 0 25px 0;
}

.main__content {
  flex-grow: 1;
}

/*------Accessibility-------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/*------Typography-------*/

p {
  font-weight: 300;
  letter-spacing: -0.131966px;
  margin: 16px 0;
}

p,
a,
li {
  font-size: 18px;
  line-height: 35px;
}

b {
  font-weight: 400;
}

h1 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0 10px 0;
  width: max-content;
  margin: 24px 0;
}

/* All h1 elements have a custom border bottom */
h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background: var(--primary);
}

.darkmode h1::after {
  background: var(--primary);
}

h2 {
  font-size: 28px;
  font-weight: 500;
  margin: 20px 0;
}

h3,
h4,
h5 {
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
  margin-top: 35px;
}

/*------Anchor links-------*/
a:link,
a:visited,
a:hover {
  color: var(--link);
}

a:hover {
  text-decoration: underline;
}

/*========Custom UI elements=========*/

/*------Ordered/Unordered Lists-------*/
.list {
  margin: 0 auto;
  list-style-type: none;
  list-style-position: inside;
  text-align: left;
  font-weight: 300;
  padding: 0;

  margin-bottom: 20px;
}

.list__description {
  margin-bottom: 5px;
}

.list li {
  position: relative;
  padding-left: 30px;
}

.list li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 8px;
  top: 15px;
  border-radius: 50%;
  background: var(--secondary);
}

.list li:not(:last-of-type) {
  margin-bottom: 5px;
}

/* Contact icons */
.contact__list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 16px 0;
}

.contact__list li {
  padding: 0 10px;
}

.contact__list li,
.contact__list li a {
  line-height: normal;
}

.contact__icon {
  width: 20px;
  fill: var(--text);
  color: var(--text);
}

/*------Color Mode Toggle Button-------*/
.color-mode__btn {
  display: none;
}

.js .color-mode__btn {
  display: block;
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  background: unset;
  border: unset;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  outline: none;

  background-image: url("./images/light.svg");
  background-repeat: no-repeat;
  background-position: center;
  fill: green;
}

.js.darkmode .color-mode__btn {
  background-image: url("./images/dark-mode-light.svg");
}

.js .color-mode__btn span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.js .color-mode__btn:active,
.js .color-mode__btn:focus,
.js .color-mode__btn:hover {
  background-image: url("./images/light-hover.svg");
}

.js.darkmode .color-mode__btn:active,
.js.darkmode .color-mode__btn:focus,
.js.darkmode .color-mode__btn:hover {
  background-image: url("./images/dark-mode-light-hover.svg");
}

/*------Color Mode Toggle Button-------*/
.accordion-heading > * {
  cursor: pointer;
}

.accordion-content {
  padding-left: 49px;
}

/*------Global Navigation Menu-------*/

/**
  * The menu is the wrapper around the button and list itself. The menu
  * is always centered on the screen, regardless of mobile or desktop.
  */
.menu {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 0;
  width: 100%;
  padding: 10px 0;
  background: var(--text3);
  /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%); */
}

.darkmode .menu {
  background: #0c0b0b;
  background: var(--surface2);
}

/* If JavaScript is enabled, initially hide the expandable menu list on mobile */
.js .menu__list {
  display: none;
}

/* The list of nav links will show by default, even on mobile (unless JS is enabled) */
.menu__list {
  max-width: var(--content-width);
  position: relative;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

.menu__list a {
  text-decoration: none;
  color: white;
  /* color: var(--text); */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* If mobile and menu is clicked, it expands vertically */
.menu__list.show {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.menu__list li {
  padding: 0;
  text-align: center;
}

.menu__list li.menu__selected {
  font-style: italic;
  font-weight: 450;
}

/**
  * If JavaScript is disabled, then the expanded menu will always show,
  * so there is no need to show the menu button to expand/collapse
 */
.menu__btn {
  display: none;
}

.js .menu__btn {
  display: block;
  padding: 10px 0;
  border: unset;
  font-family: inherit;
  background: none;
}

/* Styled menu button text */
.js .menu__btn span {
  color: var(--text);
  font-family: inherit;
  font-size: 16px;
}

@media (min-width: 375px) {
  nav {
    display: inline-block;
  }

  .js .menu button {
    display: none;
  }

  .menu .menu__list,
  .menu .menu__list.show {
    max-width: var(--content-width);
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    animation: none;
  }

  .menu__list li:first-child {
    margin-right: auto;
  }

  .menu__list li {
    text-align: unset;
    border-bottom: none;
  }

  .menu .menu__list li:not(:last-of-type):not(:first-of-type) {
    padding: 0 10px;
  }

  .menu .menu__list li:last-of-type {
    padding: 0 0 0 10px;
  }
}
