@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

/***********************************
************************************
 Global elements
************************************
***********************************/

/**
  * When JS is enabled the "js" class is appended to the root element.
  * To style a class only if JS is enabled, use the descendent selector.
  * @example .js .your-element

  * When dark mode is enabled the "darkmode" class is appended to the
  * root element. To style a class in dark mode, just use the descendent
  * selector.
  * @example .darkmode .your-element
  */

:root {
  --bg-color: #fcfcfc;
  --font-color: #1c1c1c;
  --underline-color: #658699;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.darkmode {
  --bg-color: #1c1c1c;
  --font-color: #fcfcfc;
  --underline-color: #ebebf54d;
  --underline-color: #41657c;
}

/*========Common HTML elements and global layout=========*/

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--font-color);
  position: relative;
  padding: 0 15px;
  max-width: 600px;
  margin: 0 auto;
}

main {
  position: relative;
}

/*------Typography-------*/

p {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.131966px;
  line-height: 24px;
  margin: 16px 0;
}

h1 {
  font-size: 24px;
}

h2,
h3,
h4,
h5 {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-weight: 400;
  margin: 16px 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5 {
  margin-top: 50px;
}

li {
  font-size: 15px;
}

/*------Anchor links-------*/

a {
  text-decoration-color: var(--underline-color);
}

a:link,
a:visited {
  color: var(--font-color);
}

a:hover {
  color: var(--underline-color);
}

a[href^="http"] {
  position: relative;
  /* Must display flex for firefox psuedo element background */
  display: flex;
}

a[href^="http"]::after,
a[href^="mailto"]::after {
  content: url(./images/external-link.svg);
  position: relative;
  padding-left: 5px;
}

.darkmode a[href^="http"]::after,
.darkmode a[href^="mailto"]::after {
  content: url(./images/dark-mode-external-link.svg);
  position: relative;
  padding-left: 5px;
}

/*========Custom UI elements=========*/

/*------Ordered/Unordered Lists-------*/
.list {
  margin: 0 auto;
  list-style-type: disc;
  text-align: left;
  font-weight: 300;

  margin-bottom: 20px;
}

.list__description {
  margin-bottom: 5px;
}

.list li:not(:last-of-type) {
  line-height: 1.2;
  margin-bottom: 5px;
}

/*------Color Mode Toggle Button-------*/
.color-mode__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  background: unset;
  border: unset;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  outline: none;

  background-image: url("./images/light.svg");
  background-repeat: no-repeat;
  background-position: center;
  fill: green;
}

.darkmode .color-mode__btn {
  background-image: url("./images/dark-mode-light.svg");
}

.color-mode__btn span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.color-mode__btn:active,
.color-mode__btn:focus,
.color-mode__btn:hover {
  background-image: url("./images/light-hover.svg");
}

.darkmode .color-mode__btn:active,
.darkmode .color-mode__btn:focus,
.darkmode .color-mode__btn:hover {
  background-image: url("./images/dark-mode-light-hover.svg");
}

/*------Global Navigation Menu-------*/

/**
  * The menu is the wrapper around the button and list itself. The menu
  * is always centered on the screen, regardless of mobile or desktop.
  */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 10px 0 30px 0;
  width: 100%;
}

/* This represents the bottom border around the wrapper */
.menu::after {
  position: absolute;
  content: "";
  background: var(--font-color);
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 25%;
}

/* If JavaScript is enabled, initially hide the expandable menu list on mobile */
.js .menu__list {
  display: none;
}

/* The list of nav links will show by default, even on mobile (unless JS is enabled) */
.menu__list {
  position: relative;
  flex-basis: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu__list:before {
  position: absolute;
  content: "";
  background: var(--font-color);
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  opacity: 25%;
}

/* If mobile and menu is clicked, it expands vertically */
.menu__list.show {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.menu__list li {
  padding: 5px 0;
  text-align: center;
}

.menu__list li.menu__selected {
  font-weight: 700;
}

.menu__list li a {
  text-align: center;
  text-decoration: none;
}

/**
  * If JavaScript is disabled, then the expanded menu will always show,
  * so there is no need to show the menu button to expand/collapse
 */
.menu__btn {
  display: none;
}

.js .menu__btn {
  display: block;
  padding: 10px 0;
  border: unset;
  font-family: inherit;
  background: none;
}

/* Styled menu button text */
.js .menu__btn span {
  color: var(--font-color);
  font-family: inherit;
  font-size: 16px;
}

@media (min-width: 375px) {
  nav {
    display: inline-block;
  }

  .js .menu button {
    display: none;
  }

  .menu .menu__list,
  .menu .menu__list.show {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 10px 0;
    animation: none;
  }

  .menu__list li {
    text-align: unset;
    border-bottom: none;
  }

  .menu .menu__list li:not(:last-of-type) {
    padding: 0 10px;
  }

  .menu .menu__list li:last-of-type {
    padding: 0 0 0 10px;
  }
}
