/***********************************
************************************
 Home (Landing) Page
************************************
***********************************/

/*========Page Specific Layout=========*/

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}

main {
  flex-grow: 1;
}

.home {
  margin-top: 16px;
}

.home__hello {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 30px 0;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--underline-color);
}

.home__intro {
  text-align: center;
  max-width: 450px;
}

.home__hello:hover::before {
  position: absolute;
  content: "👋";
  left: calc(50% - 120px);

  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: wave 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes wave {
  0% {
    transform: translate(1px, 1px) rotate(45deg);
  }
  33% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  66% {
    transform: translate(1px, 1px) rotate(45deg);
  }
}

/*========Bottom Navigation Bar=========*/

.home__nav {
  flex-shrink: 0;
}

.home__nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.home__nav__list li {
  padding: 10px;
}

/*========Profile Picture=========*/

.profile-image {
  display: block;
  margin: 0 auto 30px auto;
  position: relative;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-height: 665px) {
  .profile-image {
    width: 250px;
    height: 250px;
  }
}

@media (min-height: 550px) {
  body {
    padding-bottom: 0;
  }
}

@media (min-height: 625px) {
  body {
    padding-bottom: 15px;
  }
}

@media (min-height: 800px) {
  body {
    padding-bottom: 30px;
  }
}

@media (min-height: 1000px) {
  body {
    padding-bottom: 45px;
  }
}
