.project__showcase {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
  padding-bottom: 20px;
}

.project__showcase:not(:last-of-type) {
  border-bottom: 1px solid var(--font-color);
}

.project__showcase h2 {
  text-align: left;
}

.project__showcase img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.project__showcase h2 {
  margin-top: 0;
}
