/***********************************
************************************
 Contact Page
************************************
***********************************/

/*========Page Specific Layout=========*/

.contact__list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contact__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 10px;
}
