/***********************************
************************************
 About Page
************************************
***********************************/

/*========Page Specific Layout=========*/

.about {
  height: 100%;
  position: relative;
}

/*========Custom UI elements=========*/

/*------Timeline-------*/
.timeline {
  position: relative;
  padding: 0;
  list-style-type: unset;
}

.darkmode .timeline {
  border-left-color: var(--surface4);
}

.timeline__card {
  position: relative;
  display: flex;
  flex-direction: column;
}

.timeline__card:not(:last-of-type) {
  padding-bottom: 30px;
}

.timeline__card h3 {
  line-height: 1.2;
  margin: 0;
}

.timeline__card p {
  margin: 10px 0 0 0;
}

/* .timeline__card button {
  display: none;
} */

.timeline__card button {
  position: relative;
  align-items: flex-start;
  display: flex;
  width: 100%;
  padding: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  color: var(--text);
  outline: none;
  border-style: none;
  text-align: left;
  border: transparent 2px solid;
  background: transparent;
}

.timeline__card__title {
  flex-shrink: 1;
}

.accordion-circle {
  flex-shrink: 0;
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--secondary);
  z-index: 99;
  margin-right: 15px;
}

.js .accordion-circle::before,
.js .accordion-circle::after {
  position: absolute;
  content: "";
  background: transparent;
}

.js .accordion-circle::before {
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 2px;
  transform: translateX(-50%);
  background: var(--textInverse);
}

.js .accordion-circle::after {
  top: 50%;
  left: 8px;
  right: 8px;
  height: 2px;
  transform: translateY(-50%);
  background: var(--textInverse);
}

.timeline__card::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: var(--text4);
  left: 16px;
}

.timeline__card button[aria-expanded="true"] .accordion-circle::before {
  display: none;
}

.timeline__card button:focus {
  border-style: dashed;
  border-color: var(--text4);
}

@media (min-width: 435px) {
  .timeline__card button {
    align-items: center;
  }
}

@media (min-width: 730px) {
  .list {
    column-count: 2;
  }
}
