/***********************************
************************************
 About Page
************************************
***********************************/

/*========Page Specific Layout=========*/

.about {
  height: 100%;
  position: relative;
}

.about p {
  text-align: justify;
}

/*========Custom UI elements=========*/

/*------Ordered/Unordered List-------*/
.tools__list__def {
  font-weight: 500;
}
