.about {
  height: 100%;
  position: relative;
}

.header {
  margin: 15px 0 30px 0;
}

@media (min-width: 993px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.about p {
  text-align: justify;
}

.tools__list {
  margin: 0 auto;
  list-style-type: disc;
  text-align: left;
  font-weight: 300;

  margin-bottom: 20px;
}
